.color-palette {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    border: 5px solid black;
    margin: 10px auto;
}

.color-one {
    background-color: hsl(0, 0%, 100%);
    width: 50px;
    height: 100px;
}

.color-two {
    background-color: hsl(30, 54%, 90%);
    width: 50px;
    height: 100px;
}

.color-three {
    background-color: hsl(30, 18%, 87%);
    width: 50px;
    height: 100px;
}

.color-four {
    background-color: hsl(30, 10%, 34%);
    width: 50px;
    height: 100px;
}

.color-five {
    background-color: hsl(24, 5%, 18%);
    width: 50px;
    height: 100px;
}

.color-six {
    background-color: hsl(14, 45%, 36%);
    width: 50px;
    height: 100px;
}

.color-seven {
    background-color: hsl(332, 51%, 32%);
    width: 50px;
    height: 100px;
}

.color-eight {
    background-color: hsl(330, 100%, 98%);
    width: 50px;
    height: 100px;
}