@font-face {
    font-family: young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: #F3E5D8;
}

main {
    min-width: 320px;
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 40px;
}

img {
    width: auto;
    max-width: 100%;
}

h1, h2 {
    font-family: young-serif;
}

p, #preparation-time, ul, ol, table {
    font-family: outfit;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}