@font-face {
    font-family: young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: #F3E5D8;
}

main {
    min-width: 320px;
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

img {
    width: auto;
    max-width: 100%;
    border-radius: 8px;
}

h1,
h2 {
    font-family: young-serif;
    font-weight: 400;
}

h1 {
    color: hsl(24, 5%, 18%);
}

h2 {
    color: hsl(14, 45%, 36%);
}

p,
ul,
ol,
table {
    font-family: outfit;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

strong {
    font-weight: 600;
}

#preparation-time-group {
    background-color: hsl(30, 54%, 90%);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

#preparation-time {
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    margin: 2.5px;
}

#preparation-time-group ul {
    margin: 10px auto;
}

#preparation-time-group li {
    margin: 8px;
}

#preparation-time-group ul li::marker {
    color: hsl(332, 51%, 32%);
}

.table-nutrition-data {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}